Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun

docs(v2): guide on upgrading Docusaurus within a project (#2338)
  website/docs/installation.md
Owners: @wgao19

docs(v2): mention about disabling Jekyll when using GitHub pages (#2340)
  website/docs/deployment.md
Owners: @wgao19

fix(v2): add .eslintcache to Facebook template's gitignore
  packages/docusaurus-init/templates/facebook/gitignore
Owners: none

docs(v2): fix typo in remark-admonitions example (#2343)
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.43/markdown-features.mdx
Owners: @wgao19, @yangshun

chore(v2): mark tagline field as optional (#2342)
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/src/client/theme-fallback/Layout/index.js
  packages/docusaurus/src/server/__tests__/config.test.ts
  packages/docusaurus/src/server/config.ts
  website/docs/docusaurus.config.js.md
Owners: @yangshun, @wgao19

feat(v2): add draft feature to blog posts (#2335)
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog/draft.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  website/docs/blog.md
Owners: @yangshun, @wgao19

fix(v2): linkify blog posts (#2326)
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog-with-ref/2018-12-14-Happy-First-Birthday-Slash.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__fixtures__/website/blog-with-ref/post.md
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/linkify.test.ts.snap
  packages/docusaurus-plugin-content-blog/src/__tests__/linkify.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
Owners: @yangshun

feat(v2): allow specifying custom target for logo link (#2344)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Owners: @yangshun, @lex111, @wgao19

docs(v2): add examples to plugin usage doc (#2351)
  website/docs/using-plugins.md
Owners: @wgao19

docs(v2): fix getPathsToWatch() example syntax in lifecycle APIs (#2357)
  website/docs/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.39/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
Owners: @wgao19, @yangshun

chore(v2): add stylelint (#2361)
  .stylelintrc.json
  package.json
  packages/docusaurus-init/templates/classic/src/css/custom.css
  packages/docusaurus-init/templates/classic/src/pages/styles.module.css
  packages/docusaurus-init/templates/facebook/.stylelintrc.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/stylelint-copyright/README.md
  packages/stylelint-copyright/_tests_/index.js
  packages/stylelint-copyright/index.js
  packages/stylelint-copyright/package.json
  yarn.lock
Owners: none

misc: add note about edits in versioned docs (#2368)
  CONTRIBUTING.md
Owners: none

fix(v2): improve stylelint copyright header rule (#2363)
  .stylelintrc.js
  .stylelintrc.json
  package.json
  packages/docusaurus-init/templates/classic/src/css/custom.css
  packages/docusaurus-init/templates/classic/src/pages/styles.module.css
  packages/docusaurus-init/templates/facebook/.stylelintrc.js
  packages/docusaurus-init/templates/facebook/.stylelintrc.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/stylelint-copyright/README.md
  packages/stylelint-copyright/_tests_/index.js
  packages/stylelint-copyright/index.js
  packages/stylelint-copyright/package.json
  packages/stylelint-copyright/tests/index.js
Owners: none

misc: mention about v2 in README file (#2369)
  README.md
Owners: none

refactor(v2): increase CSS specificity on application container (#2367)
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
Owners: @yangshun, @lex111, @wgao19

fix(v2): remove line break from end of code blocks (#2371)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Owners: @yangshun, @lex111, @wgao19

chore(v2): upgrade Infima and remark-admonitions (#2372)
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/Layout/styles.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/algolia.css
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

misc: update copyright header
  CONTRIBUTING.md
Owners: none

docs(v2): add section for docs-only mode (#2378)
  website/docs/configuration.md
Owners: @wgao19

refactor(v2): clean up and improve Algolia styles (#2376)
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/algolia.css
Owners: none

feat(v2): add support specify new languages for Prism (#2250)
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/prism-include-languages.js
  website/docs/markdown-features.mdx
Owners: @yangshun, @lex111, @wgao19

fix(v2): force terminate building if client bundle failed (#2345)
  packages/docusaurus/src/webpack/client.ts
Owners: @yangshun

chore(v2): v2.0.0 alpha.44 (#2379)
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.44/blog.md
  website/versioned_docs/version-2.0.0-alpha.44/cli.md
  website/versioned_docs/version-2.0.0-alpha.44/configuration.md
  website/versioned_docs/version-2.0.0-alpha.44/contributing.md
  website/versioned_docs/version-2.0.0-alpha.44/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.44/deployment.md
  website/versioned_docs/version-2.0.0-alpha.44/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.44/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.44/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.44/installation.md
  website/versioned_docs/version-2.0.0-alpha.44/introduction.md
  website/versioned_docs/version-2.0.0-alpha.44/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.44/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.44/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.44/presets.md
  website/versioned_docs/version-2.0.0-alpha.44/search.md
  website/versioned_docs/version-2.0.0-alpha.44/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.44/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.44/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.44/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.44/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.44/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.44/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.44-sidebars.json
  website/versions.json
Owners: @yangshun

v2.0.0-alpha.44
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

fix(v2): add missing preset-typescript dependency (#2382)
  packages/docusaurus/package.json
Owners: @yangshun

fix(v2): specify proper version for stylelint-copyright (#2383)
  package.json
Owners: none

v2.0.0-alpha.45
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

v2.0.0-alpha.46
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

v2.0.0-alpha.47
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

chore(v2): v2.0.0 alpha.47 (#2384)
  CHANGELOG-2.x.md
Owners: none

fix(v2): add missing dependency and Noop component (#2386)
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/SearchBar.js
Owners: @yangshun, @lex111, @wgao19

chore(v2): v2.0.0-alpha.48 (#2387)
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.48/blog.md
  website/versioned_docs/version-2.0.0-alpha.48/cli.md
  website/versioned_docs/version-2.0.0-alpha.48/configuration.md
  website/versioned_docs/version-2.0.0-alpha.48/contributing.md
  website/versioned_docs/version-2.0.0-alpha.48/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.48/deployment.md
  website/versioned_docs/version-2.0.0-alpha.48/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.48/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.48/installation.md
  website/versioned_docs/version-2.0.0-alpha.48/introduction.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.48/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.48/presets.md
  website/versioned_docs/version-2.0.0-alpha.48/search.md
  website/versioned_docs/version-2.0.0-alpha.48/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.48/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.48/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.48/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.48/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.48/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.48/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.48-sidebars.json
  website/versions.json
Owners: @yangshun

v2.0.0-alpha.48
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

docs: showcase user Day.js (#2388)
  website-1.x/data/users.js
  website-1.x/static/img/users/dayjs.png
Owners: @yangshun

docs(v2): clarify instructions on docs-only mode (#2395)
  website/docs/configuration.md
Owners: @wgao19

docs(v2): delete alpha.39
  website/versioned_docs/version-2.0.0-alpha.39/blog.md
  website/versioned_docs/version-2.0.0-alpha.39/cli.md
  website/versioned_docs/version-2.0.0-alpha.39/configuration.md
  website/versioned_docs/version-2.0.0-alpha.39/contributing.md
  website/versioned_docs/version-2.0.0-alpha.39/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.39/deployment.md
  website/versioned_docs/version-2.0.0-alpha.39/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.39/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.39/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.39/installation.md
  website/versioned_docs/version-2.0.0-alpha.39/introduction.md
  website/versioned_docs/version-2.0.0-alpha.39/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.39/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.39/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.39/presets.md
  website/versioned_docs/version-2.0.0-alpha.39/search.md
  website/versioned_docs/version-2.0.0-alpha.39/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.39/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.39/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.39/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.39/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.39/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.39/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.39-sidebars.json
  website/versions.json
Owners: @yangshun

docs(v2):update alpha version to current version (#2397)
  website/docs/installation.md
  website/docs/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.40/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.43/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.48/installation.md
  website/versioned_docs/version-2.0.0-alpha.48/migrating-from-v1-to-v2.md
Owners: @wgao19, @yangshun

docs(v2): add resources page (#2401)
  website/docs/resources.md
  website/sidebars.js
Owners: @wgao19, @yangshun

fix(v2): properly dedupe forward slashes in the entire URL path (#2405)
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Owners: none

docs(v2): add Netlify configuration warning (#2411)
  website/docs/deployment.md
Owners: @wgao19
