Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun

Fix node.js version typo for compatible (#2264)
  docs/getting-started-installation.md
Owners: none

docs(v1): drop support for node <10.9 (#2264)
  docs/getting-started-installation.md
Owners: none

feat(v2): pluralize posts on tag's page (#2263)
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus/src/client/exports/utils.js
Owners: @yangshun, @lex111, @wgao19

feat(v2): add remark-admonitions to @docusaurus/preset-classic (#2224)
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/index.js
  website/docs/markdown-features.mdx
  website/docs/presets.md
Owners: @yangshun, @lex111, @wgao19

fix(v2): make code blocks scrollable (#2241)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/index.js
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Owners: @yangshun, @lex111, @wgao19

fix(v2): use site title if enabled blog-only mode (#2259)
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
Owners: @yangshun, @lex111, @wgao19

docs(v1): showcase user Paubox (#2279)
  website-1.x/data/users.js
  website-1.x/static/img/users/paubox.png
Owners: @yangshun

docs: update windows deploy command (#2281)
  docs/getting-started-publishing.md
  website/docs/deployment.md
  website/versioned_docs/version-2.0.0-alpha.38/deployment.md
  website/versioned_docs/version-2.0.0-alpha.39/deployment.md
  website/versioned_docs/version-2.0.0-alpha.40/deployment.md
Owners: @wgao19, @yangshun

fix(v2): fix codeblock copy button not including blank lines (#2285)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Owners: @yangshun, @lex111, @wgao19

chore(v2): prepare v2.0.0.alpha-41 release (#2287)
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.41/blog.md
  website/versioned_docs/version-2.0.0-alpha.41/cli.md
  website/versioned_docs/version-2.0.0-alpha.41/configuration.md
  website/versioned_docs/version-2.0.0-alpha.41/contributing.md
  website/versioned_docs/version-2.0.0-alpha.41/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.41/deployment.md
  website/versioned_docs/version-2.0.0-alpha.41/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.41/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.41/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.41/installation.md
  website/versioned_docs/version-2.0.0-alpha.41/introduction.md
  website/versioned_docs/version-2.0.0-alpha.41/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.41/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.41/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.41/presets.md
  website/versioned_docs/version-2.0.0-alpha.41/search.md
  website/versioned_docs/version-2.0.0-alpha.41/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.41/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.41/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.41/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.41/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.41/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.41/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.41-sidebars.json
  website/versions.json
Owners: @yangshun

v2.0.0-alpha.41
  lerna.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

chore: add npm publishing instructions (#2288)
  CHANGELOG-2.x.md
  admin/prerelease.md
  admin/publish.md
  scripts/prerelease.sh
Owners: none

fix(v2): fix build and deps install (#2291)
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Owners: @yangshun, @lex111, @wgao19

chore(v2): update Infima to 0.2.0-alpha.4 (#2292)
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

chore(v2): prepare v2.0.0.alpha-42 release (#2293)
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.42/blog.md
  website/versioned_docs/version-2.0.0-alpha.42/cli.md
  website/versioned_docs/version-2.0.0-alpha.42/configuration.md
  website/versioned_docs/version-2.0.0-alpha.42/contributing.md
  website/versioned_docs/version-2.0.0-alpha.42/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.42/deployment.md
  website/versioned_docs/version-2.0.0-alpha.42/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.42/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.42/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.42/installation.md
  website/versioned_docs/version-2.0.0-alpha.42/introduction.md
  website/versioned_docs/version-2.0.0-alpha.42/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.42/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.42/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.42/presets.md
  website/versioned_docs/version-2.0.0-alpha.42/search.md
  website/versioned_docs/version-2.0.0-alpha.42/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.42/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.42/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.42/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.42/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.42/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.42/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.42-sidebars.json
  website/versions.json
Owners: @yangshun

v2.0.0-alpha.42
  lerna.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

Revert "v2.0.0-alpha.42"
  lerna.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

v2.0.0-alpha.42
  lerna.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

v2.0.0-alpha.43
  lerna.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

Update CHANGELOG-2.x.md
  CHANGELOG-2.x.md
Owners: none

docs(v2): add instructions on Travis CI deployment (#2289)
  website/docs/deployment.md
Owners: @wgao19

feat(v2): add ExecutionEnvironment API (#2296)
  packages/docusaurus-plugin-google-analytics/src/analytics.js
  packages/docusaurus-plugin-google-gtag/src/gtag.js
  packages/docusaurus/src/client/clientEntry.js
  packages/docusaurus/src/client/exports/ExecutionEnvironment.js
  packages/docusaurus/src/client/exports/Link.js
  website/docs/docusaurus-core.md
Owners: @yangshun, @wgao19

Make blog plugin config example valid (#2300)
  website/docs/using-plugins.md
Owners: @wgao19

feat(v2): allow navbar links to show active style by specifiying a base path (#2299)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docusaurus.config.js
Owners: @yangshun, @lex111, @wgao19

docs(v2): nav links activeBasePath (#2303)
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website-1.x/blog/2019-12-30-docusaurus-2019-recap.md
  website/docs/docusaurus.config.js.md
  website/docs/theme-classic.md
  website/docusaurus.config.js
Owners: @yangshun, @lex111, @wgao19

docs(v1): fix Windows instructions for GitHub Pages publishing (#2307)
  docs/getting-started-publishing.md
Owners: none

docs(v2): move the quotes to remark admonitions (#2313)
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/design-principles.md
  website/docs/lifecycle-apis.md
  website/docs/migrating-from-v1-to-v2.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/docs/versioning.md
Owners: @wgao19

fix(v2): add @babel/preset-typescript to babel-loader (#2310)
  packages/docusaurus/src/webpack/utils.ts
Owners: @yangshun

chore: add section about env to bug issue template (#2315)
  .github/ISSUE_TEMPLATE/bug.md
Owners: none

docs(v2): showcase user Algolia (#2319)
  website/src/data/showcase/algolia.png
  website/src/data/users.js
Owners: @yangshun

fix(v2): properly scale logo on IE 11 (#2316)
  website/static/img/docusaurus.svg
Owners: @yangshun

Fix docs style (#2322)
  .github/ISSUE_TEMPLATE/bug.md
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
Owners: none

docs(v2): remove unwanted black line from DocSearch showcase image (#2328)
  website/src/data/showcase/algolia.png
Owners: @yangshun

feat(v2): add ability to use HTML in footer copyright (#2327)
  packages/docusaurus-theme-classic/src/theme/Footer/index.js
  website/docs/docusaurus.config.js.md
  website/docs/migrating-from-v1-to-v2.md
Owners: @yangshun, @lex111, @wgao19

docs(v2): fix broken 'more syntax' url
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.39/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.40/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.43/markdown-features.mdx
Owners: @wgao19, @yangshun

misc: use yarn consistently (#2333)
  CONTRIBUTING.md
Owners: none

fix(v1): check repo url before using on Users page (#2331)
  packages/docusaurus-1.x/examples/basics/pages/en/users.js
  packages/docusaurus-1.x/examples/basics/siteConfig.js
Owners: @yangshun

fix(v2): make proper path to pages in TS (#2334)
  packages/docusaurus-plugin-content-pages/src/__tests__/__fixtures__/website/src/pages/typescript.tsx
  packages/docusaurus-plugin-content-pages/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
  website/docs/creating-pages.md
Owners: @wgao19

fix(v2): switch a toggle when system theme changed (#2325)
  packages/docusaurus-theme-classic/src/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): properly set dark mode logo on build-time prerendering (#2324)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Owners: @yangshun, @lex111, @wgao19
