Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

feat(v2): allow nested sidebar category shorthand syntax (#2444)
  jest.config.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category-shorthand.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-invalid-item.json
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/index.ts
  tsconfig.json
  website/docs/sidebar.md
  website/sidebars.js
  yarn.lock
Owners: @yangshun, @wgao19

feat(v2): add filename in CodeBlock (#2346)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
Owners: @yangshun, @lex111, @wgao19

docs(v2): add setup of mdx plugins (#2466)
  website/docs/markdown-features.mdx
Owners: @wgao19

feat(v2): support TypeScript theme components (#2469)
  packages/docusaurus/src/server/themes/alias.ts
Owners: @yangshun

fix(v1): fix broken links in example docs (#2453)
  packages/docusaurus-1.x/examples/basics/core/Footer.js
Owners: @yangshun

docs(v2): fix typo in deployment docs (#2472)
  website/versioned_docs/version-2.0.0-alpha.48/deployment.md
Owners: @yangshun

docs(v2): use codeblock title syntax instead of comments (#2473)
  website/docs/blog.md
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/deployment.md
  website/docs/docusaurus.config.js.md
  website/docs/lifecycle-apis.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/sidebar.md
  website/docs/static-assets.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
Owners: @wgao19, @yangshun

chore(v2): upgrade remark-admonitions for a11y fixes (#2477)
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

docs(v2): mark that in dev server some features may not work (#2478)
  website/docs/cli.md
Owners: @wgao19

fix(v2): make correct Open Graph title for doc page (#2475)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): improve code block scroll accessibility (#2476)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): remove unnecessary role navigation
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Owners: @yangshun, @lex111, @wgao19

misc: fix heading level in feature issue template
  .github/ISSUE_TEMPLATE/feature.md
Owners: none

feat(v2): add ability to create unminimized bundles (#2474)
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/webpack/base.ts
  packages/docusaurus/src/webpack/client.ts
  packages/docusaurus/src/webpack/server.ts
  website/docs/cli.md
Owners: @yangshun, @wgao19

chore(v2): upgrade MDX to 1.5.8 (#2479)
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-theme-classic/package.json
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

fix(v2): various improvements for accessibility (#2480)
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
  website/src/components/BrowserWindow/index.js
  website/src/components/BrowserWindow/styles.module.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
Owners: @yangshun

misc: add special thanks section in README file (#2482)
  README.md
  admin/img/browserstack-logo.png
  admin/img/rocketvalidator-logo.png
Owners: none

fix(v2): do not render sidebar logo if used sticky navbar (#2483)
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Owners: @yangshun, @lex111, @wgao19

feat(v2): add a way to exclude components from build-time prerendering (#2323)
  packages/docusaurus/src/client/exports/BrowserOnly.js
  website/docs/docusaurus-core.md
Owners: @yangshun, @wgao19

refactor(v2): remove unnecessary X-UA-Compatible meta tag (#2485)
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Owners: @yangshun, @lex111, @wgao19

feat(v2): add announcement bar (#2330)
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
Owners: @yangshun, @lex111, @wgao19

feat(v2): support comments for code highlighting (#2456)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  website/docs/markdown-features.mdx
Owners: @yangshun, @lex111, @wgao19

feat(v2): nav dropdown (#2487)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
  website/docusaurus.config.js
  website/src/css/custom.css
  website/src/pages/index.js
Owners: @yangshun, @lex111, @wgao19

chore(v2): v2.0.0-alpha.49 (#2488)
  CHANGELOG-2.x.md
  packages/docusaurus-theme-classic/package.json
  website/versioned_docs/version-2.0.0-alpha.49/blog.md
  website/versioned_docs/version-2.0.0-alpha.49/cli.md
  website/versioned_docs/version-2.0.0-alpha.49/configuration.md
  website/versioned_docs/version-2.0.0-alpha.49/contributing.md
  website/versioned_docs/version-2.0.0-alpha.49/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.49/deployment.md
  website/versioned_docs/version-2.0.0-alpha.49/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.49/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.49/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.49/installation.md
  website/versioned_docs/version-2.0.0-alpha.49/introduction.md
  website/versioned_docs/version-2.0.0-alpha.49/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.49/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.49/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.49/presets.md
  website/versioned_docs/version-2.0.0-alpha.49/resources.md
  website/versioned_docs/version-2.0.0-alpha.49/search.md
  website/versioned_docs/version-2.0.0-alpha.49/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.49/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.49/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.49/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.49/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.49/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.49/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.49-sidebars.json
  website/versions.json
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

v2.0.0-alpha.49
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

docs(v1): showcase user Hazelcast Jet (#2491)
  website-1.x/data/users.js
  website-1.x/static/img/users/hazelcast-jet.svg
Owners: @yangshun

fix(v2): fix HTML issues nav dropdown and highlight docs item (#2489)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docusaurus.config.js
  website/src/css/custom.css
Owners: @yangshun, @lex111, @wgao19

fix(v2): use lodash instead of array-map-polyfill (#2490)
  jest.config.js
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/index.ts
  yarn.lock
Owners: @yangshun

refactor(v2): update HTML markup of pagination for better 11y (#2495)
  packages/docusaurus-theme-classic/src/theme/BlogPostPaginator/index.js
  packages/docusaurus-theme-classic/src/theme/DocPaginator/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): unbreak blog-only mode routing by deplicating starting forward slashes (#2497)
  packages/docusaurus-utils/src/__tests__/index.test.ts
  packages/docusaurus-utils/src/index.ts
Owners: none

fix(v2): do not force terminate building when running deploy command (#2496)
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
Owners: @yangshun

fix(v2): blog item styling (#2498)
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
Owners: @yangshun, @lex111, @wgao19

docs: add manylesson to users (#2499)
  website-1.x/data/users.js
  website-1.x/static/img/users/manylesson.png
Owners: @yangshun

docs(v2): misc docs updates (#2500)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/configuration.md
  website/docs/creating-pages.md
  website/docs/deployment.md
  website/docs/docs.md
  website/docs/installation.md
  website/docs/introduction.md
  website/docs/styling-layout.md
  website/docs/versioning.md
  website/sidebars.js
Owners: @yangshun, @lex111, @wgao19

docs(v2): reorganize markdown features page (#2503)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/versioning.md
Owners: @yangshun, @lex111, @wgao19

fix(v2): make code block nicer (#2502)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Owners: @yangshun, @lex111, @wgao19

refactor(v2): improve announcement bar (#2504)
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/index.js
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  website/docusaurus.config.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): tweak colors for announcement bar (#2505)
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
  website/docusaurus.config.js
Owners: @yangshun, @lex111, @wgao19

docs(v2): add link to master docs (#2506)
  website/docusaurus.config.js
Owners: @yangshun

misc: add instructions about test release (#2486)
  admin/publish.md
  admin/scripts/test-release.sh
  admin/verdaccio.yaml
  package.json
Owners: none

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun
