Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun

misc(v2): revert some stuff in #2556
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/deploy.ts
Owners: @yangshun

doc(v2): remove legacy blog metadata (#2559)
  website/docs/blog.md
Owners: @wgao19

chore(v2): add lqip-loader tests, clarify loader code, improve README (#2561)
  packages/lqip-loader/README.md
  packages/lqip-loader/src/__tests__/__fixtures__/docusaurus.svg
  packages/lqip-loader/src/__tests__/__fixtures__/endi.jpg
  packages/lqip-loader/src/__tests__/index.test.ts
  packages/lqip-loader/src/index.js
Owners: none

chore(v2): fix lint, tweak lqip-loader utils comment (#2563)
  packages/docusaurus-1.x/lib/core/DocsSidebar.js
  packages/lqip-loader/src/__tests__/index.test.ts
  packages/lqip-loader/src/utils.js
  website/docs/team.md
Owners: @yangshun, @wgao19

docs(v2): fix spelling of GitHub
  website/docs/team.md
Owners: @wgao19

feat(v2): bootstrap bootstrap (heh) theme, preset, template (#2557)
  .eslintrc.js
  packages/docusaurus-init/templates/bootstrap/.gitignore
  packages/docusaurus-init/templates/bootstrap/README.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/bootstrap/package.json
  packages/docusaurus-init/templates/bootstrap/src/pages/index.js
  packages/docusaurus-init/templates/bootstrap/src/pages/styles.module.css
  packages/docusaurus-init/templates/bootstrap/static/img/favicon.ico
  packages/docusaurus-init/templates/bootstrap/static/img/logo.svg
  packages/docusaurus-init/templates/bootstrap/static/img/undraw_docusaurus_mountain.svg
  packages/docusaurus-init/templates/bootstrap/static/img/undraw_docusaurus_react.svg
  packages/docusaurus-init/templates/bootstrap/static/img/undraw_docusaurus_tree.svg
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-bootstrap/package.json
  packages/docusaurus-theme-bootstrap/src/index.js
  packages/docusaurus-theme-bootstrap/src/theme/NotFound.js
  yarn.lock
Owners: none

docs(v2): be more polite (#2566)
  website/docs/deployment.md
  website/docs/markdown-features.mdx
Owners: @wgao19

docs(v2): add Tourmaline to Showcase page (#2569)
  website/src/data/showcase/tourmaline.png
  website/src/data/users.js
Owners: @yangshun

docs(v2): fix syntax error for plugin config (#2570)
  website/docs/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
Owners: @wgao19, @yangshun

docs(v2): mention that `plugin-ideal-image` only perform compression on a production build (#2572)
  website/docs/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
Owners: @wgao19, @yangshun

fix(v2): remove horizontal scroll on docs page (#2582)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/DocItem/styles.module.css
Owners: @yangshun, @lex111, @wgao19

fix(v2): treat mailto and tel links properly (#2579)
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.ts
  packages/docusaurus/src/client/exports/isInternalUrl.js
Owners: @yangshun

fix(v2): do not process anchor links by router (#2580)
  packages/docusaurus/src/client/exports/Link.js
Owners: @yangshun

docs(v2): fix formatting
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
Owners: @yangshun

refactor(v2): use nav link component only where needed (#2585)
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus/src/client/exports/Link.js
  website/docs/docusaurus-core.md
Owners: @yangshun, @lex111, @wgao19

feat(v2): bootstrap blog post page and card (#2584)
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-28-hola.md
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-29-hello-world.md
  packages/docusaurus-init/templates/bootstrap/blog/2019-05-30-welcome.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-preset-bootstrap/package.json
  packages/docusaurus-preset-bootstrap/src/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsPostsPage/index.js
Owners: none

refactor(v2): remove redundant container on docs page (#2588)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): properly link top-level github pages sites in deploy command (#2558)
  packages/docusaurus/src/commands/deploy.ts
Owners: @yangshun

feat(v2): add tags for bootstrap theme blog post (#2587)
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
Owners: none

refactor(v2): Convert docusaurus-core to TypeScript (#2578)
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/copyUntypedFiles.js
  packages/docusaurus/package.json
  packages/docusaurus/src/client/App.tsx
  packages/docusaurus/src/client/PendingNavigation.tsx
  packages/docusaurus/src/client/__tests__/flat.test.ts
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.ts
  packages/docusaurus/src/client/client-lifecycles-dispatcher.ts
  packages/docusaurus/src/client/clientEntry.tsx
  packages/docusaurus/src/client/docusaurus.ts
  packages/docusaurus/src/client/exports/BrowserOnly.js
  packages/docusaurus/src/client/exports/BrowserOnly.tsx
  packages/docusaurus/src/client/exports/ComponentCreator.tsx
  packages/docusaurus/src/client/exports/ExecutionEnvironment.ts
  packages/docusaurus/src/client/exports/Head.tsx
  packages/docusaurus/src/client/exports/Link.tsx
  packages/docusaurus/src/client/exports/Noop.ts
  packages/docusaurus/src/client/exports/context.ts
  packages/docusaurus/src/client/exports/isInternalUrl.ts
  packages/docusaurus/src/client/exports/renderRoutes.ts
  packages/docusaurus/src/client/exports/router.ts
  packages/docusaurus/src/client/exports/useBaseUrl.ts
  packages/docusaurus/src/client/exports/useDocusaurusContext.ts
  packages/docusaurus/src/client/flat.ts
  packages/docusaurus/src/client/normalizeLocation.ts
  packages/docusaurus/src/client/prefetch.ts
  packages/docusaurus/src/client/preload.ts
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/types.d.ts
  packages/docusaurus/tsconfig.client.json
  packages/docusaurus/tsconfig.json
Owners: @yangshun

docs(v2): fix 1st custom admonition title example (#2593)
  website/docs/markdown-features.mdx
Owners: @wgao19

docs(v2): fix a grammatic issue (#2592)
  website/docs/markdown-features.mdx
Owners: @wgao19

feat(v2): bootstrap theme tags and specific tag page (#2590)
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsPostsPage/index.js
  packages/docusaurus/src/client/exports/Link.tsx
Owners: @yangshun

refactor(v2): make margin top on blog pages as on docs pages (#2595)
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-classic/src/theme/BlogTagsPostsPage/index.js
Owners: @yangshun, @lex111, @wgao19

docs(v2): remove duplicated package.json in installation directory structure (#2596)
  website/docs/installation.md
Owners: @wgao19

docs(v2): showcase GraphQL Inspector (#2600)
  website/src/data/showcase/graphql-inspector.png
  website/src/data/users.js
Owners: @yangshun

fix(v2): inherit color for announcement bar close icon (#2602)
  packages/docusaurus-theme-classic/src/theme/AnnouncementBar/styles.module.css
Owners: @yangshun, @lex111, @wgao19

docs(v2): improve grammar (#2606)
  website/docs/cli.md
  website/docs/configuration.md
  website/docs/markdown-features.mdx
  website/docs/versioning.md
Owners: @wgao19

docs(v2): fix doc changes in #2606
  website/docs/cli.md
  website/docs/versioning.md
Owners: @wgao19

feat(v2): bootstrap theme blog post page (#2591)
  packages/docusaurus-init/templates/bootstrap/blog/2020-04-14-blog-plugin.md
  packages/docusaurus-init/templates/bootstrap/blog/2020-04-14-large-blog-post.md
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostPage/index.js
Owners: none

feat(v2): add ability set dark mode by default (#2597)
  packages/docusaurus-theme-classic/src/index.js
  website/docs/theme-classic.md
Owners: @yangshun, @lex111, @wgao19

fix(v2): don't include 404 page in sitemaps (#2616)
  packages/docusaurus-plugin-sitemap/src/__tests__/createSitemap.test.ts
  packages/docusaurus-plugin-sitemap/src/createSitemap.ts
Owners: none

fix(v2): hide mobile navbar hamburger when there are no links (#2624)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): disable tab focus on collapsed doc sidebar items (#2625)
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): make border right of doc sidebar equals doc page (#2626)
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Owners: @yangshun, @lex111, @wgao19

fix(v2): hide doc sidebar on mobiles (#2631)
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Owners: @yangshun, @lex111, @wgao19

feat(v2): add CLI option for polling (#2630)
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/start.ts
  website/docs/cli.md
Owners: @yangshun, @wgao19

feat(v2): bootstrap layout footer (#2635)
  packages/docusaurus-theme-bootstrap/src/theme/BlogListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogPostItem/index.js
  packages/docusaurus-theme-bootstrap/src/theme/BlogTagsListPage/index.js
  packages/docusaurus-theme-bootstrap/src/theme/Footer/index.js
Owners: none

chore(v2): add Privacy Policy and Terms of Use links to footer (#2638)
  packages/docusaurus-init/templates/bootstrap/docusaurus.config.js
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
  website/docusaurus.config.js
Owners: @yangshun

docs(v2): showcase GraphQL Code Generator and GraphQL Mesh (#2639)
  website/src/data/showcase/graphql-codegen.png
  website/src/data/showcase/graphql-mesh.png
  website/src/data/users.js
Owners: @yangshun
