Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

refactor(v2): disable scroll when sidebar menu is open (#2189)
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useLockBodyScroll.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): fix input losing focus on init (#2188)
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Owners: none

fix(v2): (docusaurus-init) remove deprecated Python statement (#2202)
  packages/docusaurus-init/templates/classic/docs/doc1.md
Owners: none

fix(v1): update blog href value to match navbar href (#2204)
  packages/docusaurus-1.x/lib/core/BlogPostLayout.js
Owners: @yangshun

feat: add Gitpod config for Docusaurus 2 (#2201)
  .gitpod.yml
  README.md
Owners: none

chore: drop support for node <10.9 (#2207)
  .circleci/config.yml
  .github/workflows/nodejs-windows.yml
  .nvmrc
  package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  website/docs/installation.md
Owners: @yangshun, @lex111, @wgao19

feat(v2): preload first page load script asap (#2208)
  packages/docusaurus/src/client/templates/ssr.html.template.js
Owners: @yangshun

feat(v2): support IP anonymization for Google Analytics plugin (#2148)
  packages/docusaurus-plugin-google-analytics/src/index.js
  packages/docusaurus-plugin-google-gtag/src/index.js
  website/docs/using-plugins.md
Owners: @wgao19

fix(v2): remove logo background (#2209)
  website/src/pages/styles.module.css
Owners: @yangshun

fix(v2): don't even print anonymizeIP if false in Google Analytics plugin
  packages/docusaurus-plugin-google-analytics/src/index.js
  website/docusaurus.config.js
Owners: @yangshun

chore: prepare for v1.14.4 release (#2211)
  CHANGELOG.md
  packages/docusaurus-1.x/package.json
  website-1.x/package.json
  website-1.x/versioned_docs/version-1.14.4/api-doc-markdown.md
  website-1.x/versioned_docs/version-1.14.4/api-site-config.md
  website-1.x/versioned_docs/version-1.14.4/getting-started-installation.md
  website-1.x/versioned_docs/version-1.14.4/getting-started-publishing.md
  website-1.x/versioned_docs/version-1.14.4/guides-translation.md
  website-1.x/versions.json
Owners: @yangshun

docs(v2): fix plugin-content-docs config comment typo (#2216)
  website/versioned_docs/version-2.0.0-alpha.40/using-plugins.md
Owners: @yangshun

docs(v2): update link to available prism themes (#2218)
  website/docs/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.40/theme-classic.md
Owners: @wgao19, @yangshun

chore(v1): Updated users list, removing sites not unsing docusaurus (#2219)
  website-1.x/data/users.js
Owners: @yangshun

docs: showcase user The Diff Podcast (#2225)
  website-1.x/data/users.js
  website-1.x/static/img/users/the-diff.svg
Owners: @yangshun

docs(v1): showcase user Adapt.js (#2226)
  website-1.x/data/users.js
  website-1.x/static/img/users/adaptjs.svg
Owners: @yangshun

docs(v2): make correct path to webpack config module
  website/docs/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.38/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.39/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
Owners: @wgao19, @yangshun

feat(v2): allow for TypeScript pages and components (#2221)
  packages/docusaurus-plugin-content-pages/src/index.ts
  packages/docusaurus-utils/src/index.ts
  packages/docusaurus/src/webpack/base.ts
Owners: @yangshun

chore(v2): handle pages which contain special chars (#2214)
  packages/docusaurus/src/client/templates/ssr.html.template.js
Owners: @yangshun

fix(v2): render correct theme for live code blocks on SSR (#2227)
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Owners: none

Revert "chore(v2): handle pages which contain special chars (#2214)" (#2232)
  packages/docusaurus/src/client/templates/ssr.html.template.js
Owners: @yangshun

docs(v2): showcase user supabase (#2233)
  website/src/data/showcase/supabase.png
  website/src/data/users.js
Owners: @yangshun

fix(v2): escape link text in TOC (#2236)
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
Owners: @yangshun

fix(v2): include base url in 404 route (#2237)
  packages/docusaurus/src/server/__tests__/__snapshots__/routes.test.ts.snap
  packages/docusaurus/src/server/__tests__/routes.test.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/routes.ts
Owners: @yangshun

docs(v1): showcase Dime (#2238)
  website-1.x/data/users.js
  website-1.x/static/img/users/dime.png
Owners: @yangshun

fix(v2): unify anchor behavior (#2162)
  packages/docusaurus-theme-classic/src/theme/Heading/index.js
  packages/docusaurus-theme-classic/src/theme/Heading/styles.css
  packages/docusaurus-theme-classic/src/theme/Heading/styles.module.css
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): show doc sidebar on pages with case-sensitive paths (#2235)
  packages/docusaurus-theme-classic/src/theme/DocPage/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Owners: @yangshun, @lex111, @wgao19

chore(eslint): require curly brackets on all blocks (#2239)
  .eslintrc.js
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus/src/client/PendingNavigation.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): hide read more button on non-truncated posts (#2240)
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/markdownLoader.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogListPage/index.js
Owners: @yangshun, @lex111, @wgao19

docs(v1): showcase user Jafar (#2242)
  website-1.x/data/users.js
Owners: @yangshun

docs(v2): Add Benthos to showcase (#2246)
  website/src/data/showcase/benthos.png
  website/src/data/users.js
Owners: @yangshun

fix(v2): adjust correct behavior of navbar when active anchor (#2248)
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  packages/docusaurus-theme-classic/src/theme/hooks/useLocationHash.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): add title for Feedback page (#2256)
  website/src/pages/feedback/index.js
Owners: @yangshun

feat(v2): add site title to meta title (#2255)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  website/src/pages/index.js
Owners: @yangshun, @lex111, @wgao19

refactor(v2): avoid to use raw theme values (#2254)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/ThemeContext.js
  packages/docusaurus-theme-classic/src/theme/ThemeProvider/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Owners: @yangshun, @lex111, @wgao19

docs(v2): collapsible categories in sidebar (#2251)
  website/docs/sidebar.md
Owners: @wgao19

feat(v2): allow specify custom link for logo (#2253)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Owners: @yangshun, @lex111, @wgao19

fix(v2): remove focus on search input when hovering over it (#2262)
  packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js
Owners: none

docs(v2): require using JSX flavored style objects in mdx (#2257)
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.38/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.38/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.39/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.39/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.40/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.40/migrating-from-v1-to-v2.md
Owners: @wgao19, @yangshun

feat(v2): allow to specify different logo for dark mode (#2261)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  website/docs/theme-classic.md
Owners: @yangshun, @lex111, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun
