Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun

fix(v2): fix copyright footer (#2640)
  website/docusaurus.config.js
Owners: @yangshun

refactor(v2): extract scroll position detection into separate hook (#2627)
  packages/docusaurus-theme-classic/src/theme/hooks/useHideableNavbar.js
  packages/docusaurus-theme-classic/src/theme/hooks/useScrollPosition.js
Owners: @yangshun, @lex111, @wgao19

chore: add legal links to v1 website
  website-1.x/core/Footer.js
Owners: @yangshun

fix(v2): ignore import declarations in excerpt (#2380)
  packages/docusaurus-utils/src/index.ts
Owners: none

feat(v2): add option to toggle sidebar category open by default (#2613)
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed-first-level.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/version.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  website/docs/docs.md
Owners: @yangshun, @lex111, @wgao19

misc: simplify test release script (#2641)
  admin/scripts/test-release.sh
Owners: none

refactor(v2): Expose docusaurus module type aliases to end-users (#2608)
  packages/docusaurus-module-type-aliases/package.json
  packages/docusaurus-module-type-aliases/src/index.d.ts
  packages/docusaurus/package.json
  packages/docusaurus/src/client/types.d.ts
Owners: @yangshun

misc: prettier
  packages/docusaurus-utils/src/index.ts
Owners: none

Revert "feat(v2): add option to toggle sidebar category open by default (#2613)" (#2644)
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed-first-level.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-collapsed.json
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/index.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/sidebars.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/__snapshots__/version.test.ts.snap
  packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  website/docs/docs.md
Owners: @yangshun, @lex111, @wgao19

fix(v2): hide sidebar after click on child item (#2649)
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): adjust proper padding top of doc page on mobiles
  packages/docusaurus-theme-classic/src/theme/DocPage/styles.module.css
Owners: @yangshun, @lex111, @wgao19

docs(v1): showcase user Quicksi (#2650)
  website-1.x/data/users.js
  website-1.x/static/img/users/quicksi.png
Owners: @yangshun

fix(v2): use remark-admonitions separately in each plugin instead of in preset only (#2642)
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-blog/types.d.ts
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/types.ts
  packages/docusaurus-plugin-content-docs/types.d.ts
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-preset-classic/src/index.js
  packages/docusaurus-theme-classic/src/index.js
Owners: @yangshun, @lex111, @wgao19
