Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

docs(v2): fix formatting
  website/docs/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.49/docusaurus-core.md
Owners: @wgao19, @yangshun

chore(v2): upgrade deps (#2508)
  package.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/__snapshots__/generateBlogFeed.test.ts.snap
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

fix(v2): synchronize code block components changes (#2509)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
Owners: @yangshun, @lex111, @wgao19

v2.0.0-alpha.50
  lerna.json
  packages/docusaurus-1.x/package.json
  packages/docusaurus-init-1.x/package.json
  packages/docusaurus-init/package.json
  packages/docusaurus-init/templates/classic/package.json
  packages/docusaurus-init/templates/facebook/package.json
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-pages/package.json
  packages/docusaurus-plugin-google-analytics/package.json
  packages/docusaurus-plugin-google-gtag/package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-sitemap/package.json
  packages/docusaurus-preset-classic/package.json
  packages/docusaurus-theme-classic/package-lock.json
  packages/docusaurus-theme-classic/package.json
  packages/docusaurus-theme-live-codeblock/package.json
  packages/docusaurus-theme-search-algolia/package.json
  packages/docusaurus-types/package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus/package.json
  packages/stylelint-copyright/package.json
  website-1.x/package.json
  website/package.json
Owners: @yangshun, @lex111, @wgao19

chore(v2): v2.0.0-alpha.50 (#2510)
  CHANGELOG-2.x.md
  website/versioned_docs/version-2.0.0-alpha.50/blog.md
  website/versioned_docs/version-2.0.0-alpha.50/cli.md
  website/versioned_docs/version-2.0.0-alpha.50/configuration.md
  website/versioned_docs/version-2.0.0-alpha.50/contributing.md
  website/versioned_docs/version-2.0.0-alpha.50/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.50/deployment.md
  website/versioned_docs/version-2.0.0-alpha.50/design-principles.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus-core.md
  website/versioned_docs/version-2.0.0-alpha.50/docusaurus.config.js.md
  website/versioned_docs/version-2.0.0-alpha.50/installation.md
  website/versioned_docs/version-2.0.0-alpha.50/introduction.md
  website/versioned_docs/version-2.0.0-alpha.50/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.50/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.50/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.50/presets.md
  website/versioned_docs/version-2.0.0-alpha.50/resources.md
  website/versioned_docs/version-2.0.0-alpha.50/search.md
  website/versioned_docs/version-2.0.0-alpha.50/sidebar.md
  website/versioned_docs/version-2.0.0-alpha.50/static-assets.md
  website/versioned_docs/version-2.0.0-alpha.50/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.50/theme-classic.md
  website/versioned_docs/version-2.0.0-alpha.50/using-plugins.md
  website/versioned_docs/version-2.0.0-alpha.50/using-themes.md
  website/versioned_docs/version-2.0.0-alpha.50/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.50-sidebars.json
  website/versions.json
Owners: @yangshun

chore(v2): fix 2.0.0-alpha.50 docs
  website/versioned_docs/version-2.0.0-alpha.50/configuration.md
  website/versioned_docs/version-2.0.0-alpha.50/creating-pages.md
  website/versioned_docs/version-2.0.0-alpha.50/deployment.md
  website/versioned_docs/version-2.0.0-alpha.50/docs.md
  website/versioned_docs/version-2.0.0-alpha.50/installation.md
  website/versioned_docs/version-2.0.0-alpha.50/introduction.md
  website/versioned_docs/version-2.0.0-alpha.50/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.50/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.50/styling-layout.md
  website/versioned_docs/version-2.0.0-alpha.50/versioning.md
  website/versioned_sidebars/version-2.0.0-alpha.50-sidebars.json
Owners: @yangshun

docs(v1): add LisanJS to users (#2512)
  website-1.x/data/users.js
  website-1.x/static/img/users/lisan.svg
Owners: @yangshun

docs(v2): fix broken link to Sidebar item section
  website/docs/migrating-from-v1-to-v2.md
  website/versioned_docs/version-2.0.0-alpha.50/migrating-from-v1-to-v2.md
Owners: @wgao19, @yangshun

misc: clarify instructions about new release (#2518)
  admin/publish.md
Owners: none

chore(v2): use single method Lodash packages in docs plugin (#2519)
  package.json
  packages/docusaurus-plugin-content-docs/package.json
  packages/docusaurus-plugin-content-docs/src/index.ts
  packages/docusaurus-plugin-content-docs/src/sidebars.ts
Owners: @yangshun

docs(v2): useThemeContext hook (#2521)
  website/docs/theme-classic.md
Owners: @wgao19

fix(v2): make code block nicer again (#2526)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Owners: @yangshun, @lex111, @wgao19

docs(v2): proofread docs (#2527)
  website/docs/blog.md
  website/docs/configuration.md
  website/docs/creating-pages.md
  website/docs/deployment.md
  website/docs/docs.md
  website/docs/installation.md
  website/docs/markdown-features.mdx
  website/docs/migrating-from-v1-to-v2.md
  website/docs/presets.md
  website/docs/search.md
  website/docs/styling-layout.md
  website/docs/theme-classic.md
  website/docs/using-plugins.md
  website/docs/using-themes.md
Owners: @wgao19

chore(v2): replace few Lodash methods with native counterparts (#2529)
  packages/docusaurus/src/commands/start.ts
  packages/docusaurus/src/server/client-modules/index.ts
  packages/docusaurus/src/server/html-tags/index.ts
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/plugins/init.ts
  packages/docusaurus/src/server/presets/index.ts
  packages/docusaurus/src/server/routes.ts
Owners: @yangshun

fix(v2): Use `writeFileSync` to write generated sitemap.xml to avoid early termination (#2530)
  packages/docusaurus-plugin-sitemap/src/index.ts
Owners: none

chore(v2): rebuild yarn.lock
  yarn.lock
Owners: none

feat(v2): add blog post estimated reading time (#2531)
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostItem/index.js
  website/docs/using-plugins.md
  yarn.lock
Owners: @yangshun, @lex111, @wgao19

fix(v2): make the start command work again
  packages/docusaurus/src/commands/start.ts
Owners: @yangshun

fix(v2): add rounded corners in code blocks properly (#2533)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-classic/src/theme/MDXComponents/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Owners: @yangshun, @lex111, @wgao19

feat(v2): add edit url in post page (#2524)
  packages/docusaurus-plugin-content-blog/src/__tests__/index.test.ts
  packages/docusaurus-plugin-content-blog/src/blogUtils.ts
  packages/docusaurus-plugin-content-blog/src/index.ts
  packages/docusaurus-plugin-content-blog/src/types.ts
  packages/docusaurus-plugin-content-docs/src/metadata.ts
  packages/docusaurus-theme-classic/src/theme/BlogPostPage/index.js
  packages/docusaurus-utils/src/index.ts
  website/docs/using-plugins.md
  website/docusaurus.config.js
Owners: @yangshun, @lex111, @wgao19

refactor(v2): replace Lodash with single methods packages in core (#2535)
  packages/docusaurus/package.json
  packages/docusaurus/src/server/config.ts
  packages/docusaurus/src/server/html-tags/htmlTags.ts
  packages/docusaurus/src/server/routes.ts
Owners: @yangshun

refactor(v2): make better code blocks (#2534)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/styles.module.css
Owners: @yangshun, @lex111, @wgao19

misc(v2): add Lodash TypeScript typedefs
  package.json
  yarn.lock
Owners: none

refactor(v2): replace Lodash with single methods packages in utils (#2536)
  package.json
  packages/docusaurus-utils/package.json
  packages/docusaurus-utils/src/index.ts
Owners: none

fix(v2): sync changes between code block components
  packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css
Owners: @yangshun, @lex111, @wgao19

chore(v2): remove redundant file
  packages/docusaurus-plugin-content-docs/global.d.ts
Owners: @yangshun

fix(v2): use synchronous write for generate blog feeds (#2540)
  packages/docusaurus-plugin-content-blog/src/index.ts
Owners: @yangshun

feat(v2): add showReadingTime and editUrl to the templates (#2541)
  packages/docusaurus-init/templates/classic/docusaurus.config.js
  packages/docusaurus-init/templates/facebook/docusaurus.config.js
Owners: none

chore(v2): update Prettier config (#2542)
  .prettierrc
  packages/docusaurus-init/templates/facebook/.prettierrc
Owners: none

docs(v2): add community pages (#2545)
  website/docs/support.md
  website/docs/team.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/pages/help.js
Owners: @wgao19, @yangshun

docs(v2): fix typo in team page (#2547)
  website/docs/team.md
Owners: @wgao19

docs(v2): fix name typoes in team page
  website/docs/team.md
Owners: @wgao19

docs(v2): command for swizzling all components (#2549)
  website/docs/using-themes.md
Owners: @wgao19

refactor(v2): import lqip-loader, fix build on Node 13 (#2544)
  package.json
  packages/docusaurus-plugin-ideal-image/package.json
  packages/docusaurus-plugin-ideal-image/src/index.ts
  packages/lqip-loader/README.md
  packages/lqip-loader/package.json
  packages/lqip-loader/src/index.js
  packages/lqip-loader/src/lqip.js
  packages/lqip-loader/src/utils.js
  yarn.lock
Owners: none

chore(v2): fix lqip-loader README code highlight (#2550)
  packages/lqip-loader/README.md
Owners: none

misc(v2): remove deprecated/useless lerna field (#2553)
  lerna.json
Owners: none

fix(v2): fix path for footer menu item Help
  website/docusaurus.config.js
Owners: @yangshun

feat(v2): Add team photos
  website/docs/team.md
Owners: @wgao19

doc(v2): update fanny profile
  website/docs/team.md
Owners: @wgao19

refactor(v2): enhance CLI experience (#2556)
  admin/extending-remarkable.md
  docs/api-site-config.md
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/deploy.ts
  website-1.x/versioned_docs/version-1.10.x/api-site-config.md
  website-1.x/versioned_docs/version-1.11.x/api-site-config.md
  website-1.x/versioned_docs/version-1.13.0/api-site-config.md
  website-1.x/versioned_docs/version-1.14.4/api-site-config.md
  website-1.x/versioned_docs/version-1.9.x/api-site-config.md
  website/docs/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.40/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.43/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.48/lifecycle-apis.md
  website/versioned_docs/version-2.0.0-alpha.50/lifecycle-apis.md
Owners: @yangshun, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun
