Repository funkcijuar/docusaurus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yangshun, @lex111, @wgao19

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

/packages/docusaurus-1.x/  @yangshun
/packages/docusaurus-plugin-content-docs/ @yangshun
/packages/docusaurus-plugin-content-blog/ @yangshun
/packages/docusaurus-mdx-loader/ @yangshun
/packages/docusaurus-theme-classic/ @yangshun @lex111 @wgao19
/packages/docusaurus-init-1.x/  @yangshun
/packages/docusaurus/  @yangshun
/website/  @yangshun
/website/docs/ @wgao19
/website-1.x/  @yangshun

feat(v2): support syncing tab choices (#2366)
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceContext.js
  packages/docusaurus-theme-classic/src/theme/TabGroupChoiceProvider/index.js
  packages/docusaurus-theme-classic/src/theme/Tabs/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoice.js
  packages/docusaurus-theme-classic/src/theme/hooks/useTabGroupChoiceContext.js
  website/docs/markdown-features.mdx
  website/versioned_docs/version-2.0.0-alpha.43/markdown-features.mdx
Owners: @yangshun, @lex111, @wgao19

docs(v2): add Build Tracker to showcase (#2416)
  website/src/data/showcase/build-tracker.png
  website/src/data/users.js
Owners: @yangshun

docs(v2): include appId key for Algolia (#2413)
  website/docs/search.md
  website/versioned_docs/version-2.0.0-alpha.40/search.md
  website/versioned_docs/version-2.0.0-alpha.43/search.md
  website/versioned_docs/version-2.0.0-alpha.48/search.md
Owners: @wgao19, @yangshun

misc: update Gitpod description (#2421)
  CONTRIBUTING.md
  README.md
Owners: none

fix(v2): fix external URL for og:image tag (#2420)
  packages/docusaurus-theme-classic/src/theme/DocItem/index.js
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Owners: @yangshun, @lex111, @wgao19

feat(v2): allow targeting deployment branch with environment variable (#2396)
  packages/docusaurus/src/commands/deploy.ts
  website/docs/deployment.md
Owners: @yangshun, @wgao19

fix(v2): add missed const
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): make correct internal link check (#2424)
  packages/docusaurus/src/client/exports/__tests__/isInternalUrl.ts
  packages/docusaurus/src/client/exports/isInternalUrl.js
Owners: @yangshun

feat(v2): add custom output directory to build (#2417)
  packages/docusaurus-types/src/index.d.ts
  packages/docusaurus/bin/docusaurus.js
  packages/docusaurus/src/commands/build.ts
  packages/docusaurus/src/commands/deploy.ts
  packages/docusaurus/src/server/index.ts
  website/docs/cli.md
Owners: @yangshun, @wgao19

misc: improve stylelint rule (#2415)
  .eslintrc.js
  jest-setup.js
  jest.config.js
  packages/stylelint-copyright/__tests__/index.js
  packages/stylelint-copyright/package.json
  yarn.lock
Owners: none

misc: update stylelint rule tester
  .eslintrc.js
  jest.config.js
  jest/stylelint-rule-test.js
  packages/stylelint-copyright/__tests__/index.js
Owners: none

fix(v2): remove HTML from heading slug (#2426)
  packages/docusaurus-mdx-loader/package.json
  packages/docusaurus-mdx-loader/src/index.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/__snapshots__/index.test.js.snap
  packages/docusaurus-mdx-loader/src/remark/rightToc/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/rightToc/search.js
  packages/docusaurus-mdx-loader/src/remark/slug/__tests__/index.test.js
  packages/docusaurus-mdx-loader/src/remark/slug/index.js
Owners: @yangshun

chore(v2): ignore JetBrains editor .iml files (#2433)
  .gitignore
Owners: none

fix(v2): properly process multiple nodes in slugger
  packages/docusaurus-mdx-loader/src/remark/slug/index.js
Owners: @yangshun

fix(v2): add support dark logo for sidebar logo (#2434)
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): fix aspect ratio for Open Graph image (#2435)
  website/docusaurus.config.js
  website/static/img/docusaurus-soc.png
Owners: @yangshun

fix(v2): update twitter:card to summary_large_image (#2436)
  packages/docusaurus-theme-classic/src/theme/Layout/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): do not force terminate building if client bundle failed in development mode (#2437)
  packages/docusaurus/src/webpack/client.ts
Owners: @yangshun

feat(v2): add version to page's generated meta tags (#2438)
  packages/docusaurus/src/client/serverEntry.js
  packages/docusaurus/src/client/templates/ssr.html.template.js
Owners: @yangshun

polish(v2): add logo for dark mode (#2439)
  website/docusaurus.config.js
Owners: @yangshun

feat(v2): make clickable sidebar logo (#2440)
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/styles.module.css
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-classic/src/theme/hooks/useLogo.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): various improvements for accessibility (#2442)
  packages/docusaurus-theme-classic/src/theme/CodeBlock/index.js
  packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js
  packages/docusaurus-theme-classic/src/theme/Navbar/index.js
  packages/docusaurus-theme-live-codeblock/src/theme/CodeBlock/index.js
  website/src/components/ColorGenerator/index.js
Owners: @yangshun, @lex111, @wgao19

fix(v2): always exit after successful build (#2443)
  packages/docusaurus/src/commands/build.ts
Owners: @yangshun

docs(v2): suggest Surge for quick deployment (#2408)
  website/docs/deployment.md
Owners: @wgao19

docs(v2): add docusaurus-plugin-sass to community plugins (#2446)
  website/docs/resources.md
Owners: @wgao19

docs(v2): add sass/scss under the styling section (#2423)
  website/docs/styling-layout.md
Owners: @wgao19

fix(v2): normalize location for route matching (#2393)
  packages/docusaurus/src/client/PendingNavigation.js
  packages/docusaurus/src/client/__tests__/normalizeLocation.test.js
  packages/docusaurus/src/client/normalizeLocation.js
Owners: @yangshun

misc(v2): prettier
  packages/docusaurus/src/client/normalizeLocation.js
Owners: @yangshun

Adding Motion Layout to showcase users (#2450)
  website/src/data/showcase/motion-layout.png
  website/src/data/users.js
Owners: @yangshun

docs(v2): add Motion Layout to Showcase page (#2450)
  website/src/data/showcase/motion-layout.png
  website/src/data/users.js
Owners: @yangshun

fix(v2): pass options to remark-admonitions (#2451)
  packages/docusaurus-preset-classic/src/index.js
Owners: none

polish(v2): use npm-to-yarn for the npm2yarn remark plugin (#2428)
  website/package.json
  website/src/plugins/remark-npm2yarn.js
Owners: @yangshun

misc(v2): make watchman config valid
  .watchmanconfig
Owners: none

docs(v2): fix misc styling
  website/docs/deployment.md
  website/docs/using-plugins.md
Owners: @wgao19

chore(v2): update yarn.lock
  yarn.lock
Owners: none

chore(v2): upgrade react-dev-utils (#2461)
  packages/docusaurus/package.json
  packages/docusaurus/src/commands/start.ts
  yarn.lock
Owners: @yangshun

fix(v2): do not force terminate building when bundle analyzer is on (#2462)
  packages/docusaurus/src/commands/build.ts
Owners: @yangshun

feat(v2): add @theme-original alias to give access to pre-swizzled components (#2455)
  packages/docusaurus/src/server/index.ts
  packages/docusaurus/src/server/themes/__tests__/alias.test.ts
  packages/docusaurus/src/server/themes/__tests__/index.ts
  packages/docusaurus/src/server/themes/alias.ts
  packages/docusaurus/src/server/themes/index.ts
Owners: @yangshun

fix(v2): expand broken admonitions (#2458)
  packages/docusaurus-init/templates/classic/docs/doc1.md
  packages/docusaurus-init/templates/facebook/docs/doc1.md
Owners: none

chore(v2): use single method package instead of whole Lodash package in blog plugin (#2460)
  packages/docusaurus-plugin-content-blog/package.json
  packages/docusaurus-plugin-content-blog/src/index.ts
Owners: @yangshun
